<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>dBikes</title>
    <link rel="shortcut icon" href="#">
    <meta name="description" content="First index.html">
    <meta name="author" content="Group19">
    
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="main-header">
        <div class="nav main-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('mapbikes') }}">Map</a></li>
                <li><a class='active' href="{{ url_for('about') }}">About us</a></li>
                <li><a href="{{ url_for('contacts') }}">Contact us</a></li>
            </ul>
        </div>
    </div>
    
    <div class="main-body">
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>Some text about who we are and what we do.</p>
            </div>

            <h2 style="text-align:center">Our Team</h2>
            <div class="row">
            <div class="column">
                <div class="card">
                <img src="{{ url_for('static', filename='img/class_sam.jpg') }}" alt="sam" style="width:100%">
                <div class="container">
                    <h2>Sam</h2>
                    <p class="title">Student Damage Dealer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>sam@rocks.com</p>
                </div>
                </div>
            </div>
            
            <div class="column">
                <div class="card">
                <img src="{{ url_for('static', filename='img/class_stefan.jpg') }}" alt="stefan" style="width:100%">
                <div class="container">
                    <h2>Stefan</h2>
                    <p class="title">Student Tank</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>stefan@rocks.com</p>
                </div>
                </div>
            </div>
            
              <div class="column">
                <div class="card">
                <img src="{{ url_for('static', filename='img/class_ed.jpg') }}" alt="ed" style="width:100%">
                <div class="container">
                    <h2>Ed</h2>
                    <p class="title">Student Support</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>ed@rocks.com</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2021 dBikes</p>
    </footer>
</body>
</html>
