<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask app</title>
    <link rel="shortcut icon" href="#">
    <meta name="description" content="First index.html">
    <meta name="author" content="Group19">
    
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('mapbike') }}">Map</a>
        <a href="{{ url_for('plan') }}">Plan your trips</a>
        <a href="{{ url_for('about_us') }}">About us</a>
        <a href="{{ url_for('contacts') }}">contacts</a>
      </div>
    
</body>
</html>
