<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>dBikes</title>
    <link rel="shortcut icon" href="#">
    <meta name="description" content="First index.html">
    <meta name="author" content="Group19">
    
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="nav">
	    <a class="active" href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('mapbikes') }}">Map</a>
        <a href="{{ url_for('plan') }}">Plan your trips</a>
        <a href="{{ url_for('about') }}">About us</a>
        <a href="{{ url_for('contacts') }}">Contact us</a>
    </div>
    
     <div class="hero-image" >
        <div class="hero-text">
            <h1>We are dBikes</h1>
            <p>Never miss a bike trip!</p>
        </div>
    </div> 
    
    <script
	    src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>
