<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask app</title>
    <link rel="shortcut icon" href="#">
    <meta name="description" content="First index.html">
    <meta name="author" content="Group19">
    
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/"">Home</a>
        <a href="{{ url_for('mapbike') }}">Map</a>
        <a href="{{ url_for('plan') }}">Plan your trips</a>
        <a href="{{ url_for('about_us') }}">About us</a>
        <a href="{{ url_for('contacts') }}">Contacts</a>
      </div>
  
        <div id="map" style=" width:900px; height:900px"></div>
        


    
    <script>
        let map;

        function initMap() {
            fetch("/stations").then(response => {
                return response.json();
            }).then(data => {
                console.log("data: ", data);
                
                map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 53.349804, lng: -6.260310 },
                    zoom: 14,
                });
               const bikegreen ={
    url: "{{ url_for('static', filename='green.png') }}",
    scaledSize: new google.maps.Size(50, 50), 
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 0) 
};
const bikered ={
    url: "{{ url_for('static', filename='red.png') }}",
    scaledSize: new google.maps.Size(50, 50), 
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 0) 
};
 const bikeyel ={
    url: "{{ url_for('static', filename='yel.png') }}",
    scaledSize: new google.maps.Size(50, 50), 
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 0) 
};


                data.forEach(station => {
                    if (station.BikeStands>=20){icons=bikegreen}
                    else if(20>station.BikeStands>=1){icons=bikeyel}
                    else{icons=bikered}
                    
                     const marker = new google.maps.Marker({
                        position: { lat: station.PosLat, lng: station.PosLng },
                        icon:icons,

                        map: map,
                        
                    });
                    marker.addListener("click", () => {
                        const infowindow = new google.maps.InfoWindow({
                            content: '<h2>' + station.Name + '</h2><br>BikeStands:' + station.BikeStands, 
                        });
                        infowindow.open(map, marker);
                    });
                });
               
                
            }).catch(err => {
                console.log("OOPS!", err);
            })
        }
    </script>
    <script
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEpDOT9RJcZepspcLh3d4rmf2tCYxykTQ&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>
