<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>dBikes</title>
    <link rel="shortcut icon" href="#">
    <meta name="description" content="First index.html">
    <meta name="author" content="Group19">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-header">
        <div class="nav main-nav">
            <ul>
                <li class="title">Dbikes</li>
                <li><a class='active' href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('mapbikes') }}">Map</a></li>
                <li><a href="{{ url_for('about') }}">About us</a></li>
                <li><a href="{{ url_for('contacts') }}">Contact us</a></li>
            </ul>
        </div>
    </div>
    
    <div class="landing-body">
        <div class="hero-image" >
            <div class="hero-text">
                <h1>Dublin Bikes</h1>
                <p>Never miss a bike trip!</p>
                <a id="homeLink" href="{{ url_for('mapbikes') }}">See the Map</a>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2021 dBikes</p>
    </footer>
</body>
</html>
